/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
/* Ruda Font */
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #261136;
    font-family: Arial, Helvetica, sans-serif;
    height: 180vh;
}

@media screen and (min-width: 768px) {
    body {
        height: 180vh;
    }
}

.conteudo-principal {
    margin: auto;
}

/* Header */

.main-header {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/header.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.conteudo-header {
    margin: 11em 0 0 0;
}

.text-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20pt;
    text-shadow: 1.5px 1.5px 1.5px #000000;
    margin: 0 0 0.6em 0.5em;
}

.box-aviao {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/* Cabeçalho do Box */

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    margin: auto;
}

.header-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.text-now,
.text-gate {
    font-size: 7pt;
    font-weight: 500;
} 

.text-now {
    background-color: #8BC34A;
    width: 50%;
    border-top-left-radius: 5px; 
} 

.text-gate {
    background-color: #232222;
    width: 50%;
    border-top-right-radius: 5px;
}

/* Corpo do Box */


.box-main {
    background: rgba(38, 36, 40, 0.95);
    opacity: 0.5em;
    padding: 1em;
    margin: -0.1em 0 0 0;
}

.container-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: solid 1px #706F6E;
}

.titulo-main {
    display: flex;
    flex-direction: column;
}

.abrev-city {
    font-size: 29pt;
}

.desc-city {
    margin: -1.5em 0 0 0;
    font-size: 8pt;
    color: #706F6E;
}

/* Descrição do Titulo */

.container-text-principal {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-escrito-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-desc {
    color: #706F6E;
    font-weight: bolder;
    font-size: 9pt;
    margin-bottom: 0.7em;
}

.subtitulo-desc {
    color: #FFFF;
    font-weight: 500;
}

/* Container do Botão */

.container-text-secundario {
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    margin: 2em 0 0 0;
}

.conteudo-escrito-secundario {
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 2.1em;
}

.btn-view {
    background-color: #431C60;
    border: none;
    padding: 1.4em;
    color: #fff;
    font-weight: 600;
    font-size: 9pt;
    width: 16em;
    font-family: 'Inter', sans-serif;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40em;
  }
  
  @media only screen and (min-width: 768px) {
    .container-text-secundario {
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    .conteudo-escrito-secundario {
      margin: 0;
    }
  
    .btn-view {
      width: auto;
    }
  
    main {
      margin-top: 38em;
    }
  }

/* Estilização do Card do Hotel */

.conteudo-hotel {
    display: flex;
    flex-direction: column;
}

.box-text-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.box-text-btn span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0 0 0.5em 1.2em;
}

.box-text-btn button {
    background-color: #7B1FA2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-bottom: -1em;
    z-index: 10;
}

.card-hotel {
    position: relative;
    left: 1vw;
}

.footer-box-hotel {
    width: 90%;
    position: absolute;
    bottom: 0.5em;
    padding: 1em;
    background-color: #212121cc;
}

.info-hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0 0 0.2em;
    padding-bottom: 2em;
}

.titulo-hotel {
    font-weight: 500;
    font-size: 2vw;
    border: none;
}

.days-hotel {
    background: linear-gradient(90deg, #7B1FA2 86.68%, #4527A0 100%);
    padding: 0.5em;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
  .box-text-btn {
    flex-direction: row;
    align-items: center;
  }
  .box-text-btn button {
    font-size: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .card-hotel {
    left: 0;
  }
  .info-hotel {
    flex-direction: row;
    align-items: center;
  }
  .titulo-hotel {
    font-size: 4vw;
  }
  .days-hotel {
    font-size: 2vw;
  }
}


/* Estilização do card de viagens */

.box-car {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url("../assets/img/carro.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.background-cinza {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2%;
    width: 100%;
    background-color: #0a0a0a8c;
    z-index: 999;
}

.container-user {
    margin: 2em 0 0 1.4em;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.conteudo-usuario {
    margin-left: 0.8em;
}

.price-user {
    color: #8BC34A;
}

.user-img {
    width: 4vh;
    height: 4vh;
    padding: 0.5em;
    background-color: #FFFF;
    border-radius: 100%;
}

.container-viagens {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0 0 1.8em;
}

.info-viagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
}

.container-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.conteudo-escrito-info {
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Ruda', sans-serif;
}

.titulo {
    font-size: 13pt;
    font-weight: 800;
}

.edit-btn {
    background-color: #7B1FA2;
    border: none;
    padding: 0.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Estilização do Card da Estátua da Liberdade */

.box-liberdade {
    background-image: url("../assets/img/liberdade.png");
    background-repeat: no-repeat;
    height: 37vh;
    width: 100%;
    position: relative;
    top: 2rem;
}

.box-date {
    display: flex;
    flex-direction: column;
    background-color: #000000d4;
    padding: 1em;
    width: 90%;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

@media screen and (max-width: 768px) {
    .box-date {
        width: 89%;
        left: 0;
        bottom: 0;
    }
}

.titulo-date {
    margin-bottom: 1.5em;
    border-bottom: 2px solid #232222;
    padding-bottom: 1em;
}

.titulo-date span {
    font-family: 'Ruda', sans-serif;
    font-weight: 800;
    font-size: 19pt;
}

@media screen and (min-width: 768px) {
    .box-date {
        width: 60%;
        left: 20%;
    }
}


/* Estilização da área dos inputs */

.box-destiny {
    position: relative;
    top: 5em;
    background: linear-gradient(90deg, #4527A0 86.68%, #7B1FA2 100%);
    padding: 2em;
    margin: 0 0 0 0.2em;
}

.box-form {
    padding-bottom: 1em;
    border-bottom: 2px solid #919191;
}

.form-destiny {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

.input-local {
    width: 90%;
    border: none;
    padding: 0.5em;
    color: #431C60;
}

.input-local::placeholder {
    color: #8E8E8E;
}

@media screen and (min-width: 768px) {
    .box-destiny {
        top: 8em;
        display: flex;
        justify-content: center;
    }
    
    .box-form {
        width: 70%;
        padding-bottom: 2em;
        border-bottom: 2px solid #919191;
    }
    
    .form-destiny {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .input-local {
        width: 100%;
    }
    
    .input-local + .input-local {
        margin-left: 2%;
    }
}


/* Icons */

.box-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

.container-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B9B9B9;
}

.container-icons:placeholder {
    color: #FFFF;
}

.icon-purple {
    background-color: #7B1FA2;
}

.icon-ciano {
    background-color: #AAB5E0;
}

.icon-blue {
    background-color: #5371E6;
}

.icon-gray {
    background-color: #8B8B8B;
}

#type-cars {
    padding: 1em;
    margin-bottom: 1em;
    width: 4vh;
    height: 5vh;
    border-radius: 50%;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4em;
    background-color: #431C60;
}

.icon-footer {
    width: 2.5vh;
}

/* Modal */ 

.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
    color: #000;
  }

  .modal-card {
    background: linear-gradient(90deg, #7B1FA2 86.68%, #4527A0 100%);
      margin: 15% auto;
      width: 80%; 
      padding: 25px;
  }
  
  .modal-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #FFFF;
    width: 100%;
  }

  .modal-content h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #FFFF;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em 0 0 0;
    border-bottom: 2px solid #fff;
  }

  .img-modal {
    margin: 2em 0 2em 0;
    width: 35vw;
  }

  .text-modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 13pt;
    color: #FFFF;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  