/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
/* Ruda Font */
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #431C60;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* overflow-y: scroll; */
}

.main-header {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/header.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.conteudo-header {
    margin: 11em 0 0 0;
}

.text-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20pt;
    text-shadow: 1.5px 1.5px 1.5px #000000;
    margin: 0 0 0.6em 0.5em;
}

.box-aviao {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/* Header do Box */

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    margin: auto;
}

.header-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.text-now,
.text-gate {
    font-size: 7pt;
    font-weight: 500;
} 

.text-now {
    background-color: #8BC34A;
    width: 50%;
    border-top-left-radius: 5px; 
} 

.text-gate {
    background-color: #232222;
    width: 50%;
    border-top-right-radius: 5px;
}

/* Main do Box */

.box-main {
    background: rgba(38, 36, 40, 0.95);
    opacity: 0.5em;
    padding: 1em;
    margin: -0.1em 0 0 0;
}

.container-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: solid 1px #706F6E;
}

.titulo-main {
    display: flex;
    flex-direction: column;
}

.abrev-city {
    font-size: 29pt;
}

.desc-city {
    margin: -1.5em 0 0 0;
    font-size: 8pt;
    color: #706F6E;
}

/* Descrição do Titulo */

.container-text-principal {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-escrito-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-desc {
    color: #706F6E;
    font-weight: bolder;
    font-size: 9pt;
    margin-bottom: 0.7em;
}

.subtitulo-desc {
    color: #FFFF;
    font-weight: 500;
}

/* Container do Botão */

.container-text-secundario {
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    margin: 2em 0 0 0;
}

.conteudo-escrito-secundario {
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 2.1em;
}

.btn-view {
    background-color: #431C60;
    border: none;
    padding: 1.4em;
    color: #fff;
    font-weight: 600;
    font-size: 9pt;
    width: 16em;
    font-family: 'Inter', sans-serif;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36em;
}

/* Hotel Plans */

.box-text-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.box-text-btn spam {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.box-text-btn button {
    background-color: #7B1FA2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 33px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: -1em;
    z-index: 10;
}

.card-hotel {
    position: relative;
}

.footer-box-hotel {
    position: absolute;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.5em;
    padding: 1em;
    background-color: #212121cc;
}

.info-hotel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0 0 0.2em;
    padding-bottom: 2em;
}

.titulo-hotel {
    font-weight: 500;
    font-size: 16pt;
    border: none;
}

.days-hotel {
    background: linear-gradient(90deg, #7B1FA2 86.68%, #4527A0 100%);
    padding: 0.5em;
    font-size: 10pt;
}

/* Cars Services */

.box-car {
    position: relative;
    top: 2rem;
    background-image: url("../assets/img/carro.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 40vh;
}

.background-cinza {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a8c;
    z-index: 999;
}

/* User Area */ 

.container-user {
    margin: 2em 0 0 1.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.conteudo-usuario {
    margin: 0 0 0 0.8em;
}

.price-user {
    color: #8BC34A;
}

.user-img {
    width: 4vh;
    height: 4vh;
    padding: 0.5em;
    background-color: #FFFF;
    border-radius: 100%;
}

/* Viagens de Carro */

.container-viagens {
    display: flex;
    flex-direction: row;
    margin: 1em 0 0 1.8em;
}

.info-viagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 1em;
}

.container-info {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.conteudo-escrito-info {
    font-size: 11pt;
    font-weight: 700;
    font-family: 'Ruda', sans-serif;
}

.titulo {
    font-size: 13pt;
    font-weight: 800;
}

.edit-btn {
    background-color: #7B1FA2;
    border: none;
    padding: 0.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

